<div class="wrapper">
  <div class="container text-center">
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address %></p>
    <h2>Reviews</h2>
    <ul class="list-group">
      <% @reviews.each do |review| %>
      <li class="list-group-item text-justify">
        <p><%= review.content %></p>
        <p>Rating: <strong><%= review.rating %></strong></p>
      </li>
      <% end %>
    </ul>
    <%= link_to "Back to list", restaurants_path, class:"btn btn-primary" %>
  </div>
</div>
